<div class="section-background section-background-history"></div>

<div class="container-fluid section-manager">
  <div class="row">
      <div class="col-sm-4">
        <%= render 'shared/sidenavbar' %>
      </div>

      <div class="col-sm-8">
        <h2 class="emperor emperor-history">History and Progress</h2>
        <div class="listnotdone">
          <div class="coursesnotdone-wrapper text-center courses-history">
              <div id="data">
                  <table class="table table-striped intable">
                    <thead class="headersA">
                      <td class="headerA">Challenge</td>
                      <td class="headerA">Teacher</td>
                      <td class="headerA">Progress</td>
                    </thead>
                   <tbody class="split" >
                    <% @finished_quests.each do |quest| %>
                      <tr>
                        <td class = "celltwo"> <%= quest.challenge.title %></td>
                        <td class = "celltwo"> <%= quest.challenge.teacher.name %> </td>
                        <td class = "celltwo"> <%= quest.correct_percentage %>% </td>
                      </tr>
                      <% end %>
                  </tbody>
                  </table>
              </div>
          </div>

        </div>
      </div>
  </div>
</div>
