<div class="chal text-center">

<h2 class="title"><%= @challenge.title %></h2>


<div class="container-description">
  <h4>Your mission</h4>
  <div class="text-style">
  <p class="text-style">In this challenge try to answer correctly all the questions about new technologies. With this amazing challenge you will learn a lot!</p>
  </div>

<%= simple_form_for [:student, @challenge, @quest] do |f| %>

  <%= link_to "Back to challenges", student_challenges_path, class: "btn btn-default" %>
  <%= f.submit "Let's go!",  class: "btn btn-lg btn-success" %>

<% end %>


</div>
</div>
