<div class="wrapper-new text-center">

<h2><%= @challenge.title %></h2>

<div class="container-description">
  <h4>Your mission</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facilis tenetur est. Nihil necessitatibus eligendi, velit nisi repudiandae assumenda sed voluptate aut corrupti fugit temporibus sequi alias dolores cumque iure.</p>
</div>

<%= link_to "Let's go!", student_quests_path, class: "btn btn-primary" %>

</div>
