<div class="wrapper-new text-center">

<h2><%= @challenge.title %></h2>

  <div class="container-mission">
    <h4>Your mission</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores alias laboriosam omnis exercitationem, veniam consequatur, rerum eveniet? Provident nobis et, assumenda quo alias. Aperiam, reiciendis dolore beatae adipisci aliquid esse?</p>
  </div>

  <%= link_to "Let's go!", student_quest_path(), class: "btn btn-primary" %>

</div>


