<footer class="page-footer">

  <!-- Contact Us -->
    <div class="contact">
      <div class="container">
    <h2><%= image_tag 'logo-kodo.png', class: "small-icon" %></h2>
    <ul class= "list-inline contat-infos">
      <li><i class="fa fa-envelope-o fontawesome" aria-hidden="true"></i><br/>contact@kodowallonie.be</li>
      <li><i class="fa fa-phone fontawesome" aria-hidden="true"></i><br/>+32 (0)476 53 88 75</li>
      <li><i class="fa fa-info fontawesome" aria-hidden="true"></i><br/>http://kodowallonie.be</li>
    </ul>
      </div>
      <h6 class="copyright-text">Copyright &copy; Batch 29 - Brussels - 2016</h6>
    </div>
