<footer class="page-footer">

  <!-- Contact Us -->
    <div class="contact">
      <div class="container">
    <h2 class="section-heading">Contact Us</h2>
    <ul class= "list-inline contat-infos">
      <li><span class="glyphicon glyphicon-earphone"></span><br/>+32 (0)476 53 88 75</li>
      <li><span class="glyphicon glyphicon-envelope"></span><br/>contact@kodowallonie.be</li>
    </ul>
      </div>
    </div>

    <!-- Copyright etc -->
    <div class="small-print">
      <div class="container">
        <p>Copyright &copy; Batch 29 - Brussels - 2016</p>
      </div>
    </div>

</footer>
