.page-footer {
  text-align: center;
  }

.page-footer .contact {
  padding: 0px 0 15px 0;
  background-color: #7979b5;
  color: #fff;
  }

.small-icon{
  width:250px;
}

.fontawesome{
  font-size:25px;
}

.page-footer .contact p {
  font-size: 20px;
  font-weight: 300;
  }

.contat-infos > li {
  padding: 0 90px;
}

.copyright-text{
  font-size:15px;
  margin: 40px auto 0 auto;
}
