  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <p><%= @question.title %></p>
            </div>
            <div class="back">
              <p>I want the answeeeeerrrrr NOW !!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


