<div class="flip">
  <div class="card">
    <div class="face front">
      <%= @question.title %>
    </div>
    <div class="face back">
      <%= simple_form_for [:student, @quest, @question, @effort] do |f| %>
      <%= f.input :content, placeholder: "Your answer here" %>
      <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

