.backpicC{
  background: image-url("backgroundProfile.png");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.outerbox{
  position: relative;
  margin: 0px;
  display: flex;
  margin-top: 180px;
}

// .mainmoto{
//   margin-top: 100px;
// }

/* Set gray background color and 100% height */
.sidenavbar {
  position: absolute;
  top: 0;
  left: 0;
  // background-color: #f1f1f1;
  height: 400px;
  max-width:250px;
  box-shadow: 0 1px 2px #d1d1d1;
  border-radius:9px;

}

.listnotdone{
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenavbar {
    height: auto;
    padding: 15px;
  }

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.stmanage {
  height: 1500px
}

.stmanage {
  height: auto;}

}

/* Set avatar's details */
.stavatar-large {
  width: 100px;
  border-radius: 50%;
  margin: 20px 50px;
}

.nickname{
  font-size:30px;
}


/* My coursesnotdone design details */

// .coursesnotdone{
//   background-image: image-url("greyshells.jpg");
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   z-index: -1;
// }

.coursesnotdone-wrapper {
  flex: 1 0 auto;
  background-color: #f1f1f1;
  height: auto;
  padding: 0 10px;
  padding-bottom: 20px;
  box-shadow: 0 1px 2px #d1d1d1;
  border-radius:9px;
  background-image: url("web.png");
  background-size: cover;
}

.split {
 background: #F3FBF1;
 color: black;
}

.unfinished {
  font-family: Open Sans;
  font-size: 25px;
  width: 300px ;
  margin: 0px auto;
  opacity: 0.8;
  padding:2px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  text-align: center;
  background-color: #9dcedc;
  background-size: 100%;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 2px #d1d1d1;
}
