/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.stmanage {height: 1500px}

/* Set gray background color and 100% height */
.sidenavbar {
  background-color: #f1f1f1;
  height: 450px;
  box-shadow: 0 1px 2px #d1d1d1;
  border-radius:9px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenavbar {
    height: auto;
    padding: 15px;
  }
  .stmanage {height: auto;}
}

.outerbox{
  margin: 40px;
}


/* Set avatar's details */
.stavatar-large {
  width: 100px;
  border-radius: 50%;
  margin: 20px 90px;
}

.nickname{
  font-size:30px;
}

/* My coursesnotdone design details */


.coursesnotdone{
  background-image: image-url("greyshells.jpg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.coursesnotdone-wrapper {
  flex: 1 0 auto;
}

// .tableone {
//   background: #64868E;
//   border: 2px, solid, black;
//   align-items: center;
//   color: black;
//   margin: 0 auto;
//   font-family: Open Sans;
//   box-shadow: 0 1px 2px #d1d1d1;
// }

.split {
 background: #F3FBF1;
 color: black;
}

// .cellone {
//  opacity: 0.9;
//   border: 2px solid black;
//   border-radius: 5px;
//   background: #98B4A6;
//   color:black;
//   text-align: center;
// }

// .celltwo {
//  border: 2px dotted grey;
//  border-radius: 1px;
//  padding: 4px;
// }

.sky {
  font-family: Open Sans;
  font-size: 25px;
  width: 300px ;
  margin: 30px auto;
  opacity: 0.8;
  padding:10px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  text-align: center;
  background-color: #9dcedc;
  background-size: 100%;
  border-radius: 10px;
  color: $gray-dark;
  box-shadow: 0 1px 2px #d1d1d1;
}

.return {
  margin: 30px 500px;
  text-align:center;
  color: white;
  font-size: 15px;
}
