/* Set gray background color and 100% height */
.sidenavbarA {

}

.listnotdone{

}



/* Set avatar's details */
.stavatar-large {
  width: 100px;
  border-radius: 50%;
  margin: 20px 50px;
}

.nickname{
  font-size:30px;
}

.coursesnotdone-wrapper {
  flex: 1 0 auto;
  background-color: #f1f1f1;
  margin-right: 150px;
  height: auto;
  padding: 0 10px;
  padding-bottom: 20px;
  box-shadow: 0 1px 2px #d1d1d1;
  border-radius:9px;
  background-image: url("web.png");
  background-size: cover;
}

.split {
 background: #F3FBF1;
 color: black;
}

.unfinished {
  font-family: Open Sans;
  font-size: 25px;
  font-weight: bold;
  width: 300px ;
  margin: 0px auto;
  opacity: 0.8;
  padding:2px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  text-align: center;
  background-color: #9dcedc;
  background-size: 100%;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 2px #d1d1d1;
}

.headerA{
  border-radius: 50% 50% 0px 0px;
  background: black;
  color: white;
  opacity: 0.4;
}

.headersA{
  margin-top: 10px;
}

.intable{
  margin: 20px 0px 0px 0px;
}

/* Grow  buttons*/
.fancy .sidebar{
    // border-radius: 90%;
    color:yellow;
    position: relative;
    background-color: blue;
    margin: 5px 23px;
    opacity: 0.5;
    border: none;
    border-radius:5%;
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px;
    width: 210px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.fancy, .sidebar:after {
    content: "";
    display: block;
    position: absolute;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.fancy, .sidebar:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
