;emperor {
  font-weight: bold;
}


.emperor-student{
  color: #284853;
  opacity:0.9;
}

.emperor-history{
  color: #A38257;
}

.emperor-challenges{
  color: whitel;
  opacity:0.9;
}



.vader {

}

.sith {

}
