.emperor {
  font-weight: bold;
}


.emperor-student{
  color: #284853;
  opacity:0.9;
}

.emperor-history{
  color: white;
}


.vader {

}

.vader-edit {
color: white;
}


.sith {
  text-decoration: none !important;
  font-weight: bold;
  color:#3838A0;
}

